<!DOCTYPE html>

@{
    SampleSite.Backend.Page1 page1 = new SampleSite.Backend.Page1();
    SampleSite.Backend.Page2 page2 = new SampleSite.Backend.Page2();
    SampleSite.Backend.Page3 page3 = new SampleSite.Backend.Page3();
    SampleSite.Backend.Page4 page4 = new SampleSite.Backend.Page4();
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SampleSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a id="NavHeaderHome" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SampleSite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                        <li class="nav-item">
                            <a id="NavHeaderPage1" class="nav-link" asp-area="" asp-controller="Home" asp-action="Page1" style="color: @page1.GetColor()">@page1.GetLabel()</a>
                        </li>
                        <li class="nav-item">
                            <a id="NavHeaderPage2" class="nav-link" asp-area="" asp-controller="Home" asp-action="Page2" style="color: @page2.GetColor()">@page2.GetLabel()</a>
                        </li>
                        <li class="nav-item">
                            <a id="NavHeaderPage3" class="nav-link" asp-area="" asp-controller="Home" asp-action="Page3" style="color: @page3.GetColor()">@page3.GetLabel()</a>
                        </li>
                        <li class="nav-item">
                            <a id="NavHeaderPage4" class="nav-link" asp-area="" asp-controller="Home" asp-action="Page4" style="color: @page4.GetColor()">@page4.GetLabel()</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SampleSite
            @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
            - <a id="NavFooterPage1" asp-area="" asp-controller="Home" asp-action="Page1" style="color: @page1.GetColor()">@page1.GetLabel()</a>
            - <a id="NavFooterPage2" asp-area="" asp-controller="Home" asp-action="Page2" style="color: @page2.GetColor()">@page2.GetLabel()</a>
            - <a id="NavFooterPage3" asp-area="" asp-controller="Home" asp-action="Page3" style="color: @page3.GetColor()">@page3.GetLabel()</a>
            - <a id="NavFooterPage4" asp-area="" asp-controller="Home" asp-action="Page4" style="color: @page4.GetColor()">@page4.GetLabel()</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
