@{
    SampleSite.Backend.Page2 page2 = new SampleSite.Backend.Page2();

    ViewData["Title"] = page2.GetLabel().Replace("_", " ");
    var data = page2.GetData();
}

<style>
    table {
        width: 80%;
        margin-left: 10%;
    }

    th {
        border-bottom: 2px solid black;
    }

    tr:nth-child(even) {
        background-color: #F2F2F2;
    }

    tr:nth-child(odd) {
        background-color: #FFFFFF;
    }
</style>

<h1 style="color: @page2.GetColor()">@ViewData["Title"] - @page2.GetDescription()</h1>
<br />
<table>
    <tr>
        <th><h5>Firstname</h5></th>
        <th><h5>Lastname</h5></th>
        <th><h5>Age</h5></th>
    </tr>
    <tr>
        <td>@data[0][0]</td>
        <td>@data[0][1]</td>
        <td>@data[0][2]</td>
    </tr>
    <tr>
        <td>@data[1][0]</td>
        <td>@data[1][1]</td>
        <td>@data[1][2]</td>
    </tr>
    <tr>
        <td>@data[2][0]</td>
        <td>@data[2][1]</td>
        <td>@data[2][2]</td>
    </tr>
    <tr>
        <td>@data[3][0]</td>
        <td>@data[3][1]</td>
        <td>@data[3][2]</td>
    </tr>
</table>